<label class="btn btn-default btn-c w-40">
<i class="fa fa-chevron-down" aria-hidden="true"></i>
<select class="c-select" ng-model="data" ng-options="action.key as action.name for action in actions" ng-change="updateCategory();"></select>
</label>


<!-- <div class="dropdown">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">Menu</button>
  <div class="dropdown-menu">
    <a href="#" class="dropdown-item">Item 1</a>
    <a href="#" class="dropdown-item dropdown-item-checked">Item 2</a>
    <a href="#" class="dropdown-item">Item 3</a>
  </div>
</div> -->